<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlink}}
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <header>
    {{>header}}
    
   <main>
		<section>
			<h3>{{errorcomment}}</h3>		
		</section>
	</main>
    {{>footer}}
    </header>

</body>
</html>