<!DOCTYPE html>
<html>
<head>
    {{>headerlink}}
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<header>
	
{{>header}}

	{{>mainData}}


</header>
{{>footer}}
</body>
</html>